/** 整體設計 **/
/** 設定字體漸層變化 **/
@keyframes gradient-shift {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#admin_title{
    margin-top: 0;
    background: linear-gradient(90deg, #ff7e5f, #feb47b, #86a8e7, #9c60e6);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-shift 5s infinite alternate;
    font-size: 30px;
}
.admin_contentbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}
/** 導覽列 **/
.admin_nav{
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
}
.userInf{
    margin-left: auto;
}
.userInf_Btn{
    margin: 15px 15px 15px 15px;
    padding: 5px 10px 5px 10px;
    font-family: Inter, system-ui;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.userInf_Btn:hover{
    background-color: #e8e8e8;
}
.userIcon{
    background-color: #0084ff;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px 10px 5px 0;
}
.userNa{
    font-family: Inter, system-ui;
    font-size: 12px;
    color: white;
}

/** 用戶資訊選單 **/
.user_Mdiv{
    display: none;
    position: absolute;
    right: 20px;
    background-color: white;
    border: 1px solid #e4e4e4;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px #ededed;
    font-family: Inter, system-ui;
    font-weight: 500;
}
.user_Mdiv.open{
    display: flex;
    flex-direction: column;
}
.admin_navBtn{
    background-color: #e8e8e8;
    border-radius: 100px;
    display: block;
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: #1c1c1c;
}
.admin_navBtn p{
    margin: 0;
}
/** 功能區 **/
.admin_p_text{
    font-family: Inter, system-ui;
    font-size: 15px;
    color: #b0b0b0;
    font-weight: 450;
}
.funbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.funbox-intobox{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 10px 20px;
    align-items: center;
    justify-content: center;
}
.funbox_title{
    padding: 15px 5px 5px 25px;
    font-family: Inter, system-ui;
    font-weight: 500;
    margin: 0;
}
.admin_funbtn{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #e3e3e3;
    color: #1c1c1c;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    margin: 10px;
    font-size: 15px;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
    min-width: 150px;
}
.admin_funbtn:hover{
    background-color: #f1f1f1;
}
.funbtn_svg{
    margin: 0 0 10px 0;
}
#addnewsBtn{
    background-color: #1c1c1c;
    color: #fff;
}
#addnewsBtn:hover{
    background-color: #4c4c4c;
}
#adduserBtn{
    border: 1px dashed #e4e4e4;
}
#adduserBtn:hover{
    border: 1px dashed #99afd1;
    background-color: #e9f5ff;
}