:root{
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

#root {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding-top: 0;
  padding-bottom: var(--safe-area-inset-bottom);
  /* 如果使用 box-sizing: border-box */
  min-height: calc(100vh + var(--safe-area-inset-top));
  margin: 0;
  font-family: NotoSansTC, system-ui;
}

body{
  margin: 0;
  padding: 0;
  /* 如果需要，設置背景顏色延伸到狀態列 */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: white;
}

main{
  display: flex;
  height: 100lvh;
  overflow-y: auto;
}

/** Main Aria **/
.main-section{
  flex-grow: 1;
  background-color: white;
  position: relative;
  overflow: hidden;
  width: calc(100vw - 300px);
}
section{
  overflow: auto;
  height: 100%;
  position: relative;
  width: 100%;
}

/** Display **/
.displaynone{
  display: none !important;
}
.displayflex{
  display: flex;
}
button, a{
  cursor: pointer;
}

/** 手機導覽列設定 **/
.moblieshow{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.825);
  border-top: 1px solid #efefef;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 100;
  padding: 5px 10px 25px 10px;
  box-sizing: border-box;
}
/** 為螢幕大小調整 **/
@media (min-width:100px) {
  .moblieshow{
    display: block;
  }
}
@media (min-width:500px) {
  .moblieshow{
    display: none;
  }
}

.mobliebar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mobliebar a{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 5px;
  flex-direction: column;
  text-decoration: none;
  border-radius: 100px;
  width: 55px;
  color: #8e8e8e;
}
.mobliebar a.navbtn-active{
  color: #000000;
}
.sparkbtn{
  background-color: #eaeaea;
  border-radius: 100px;
  padding: 8px 15px 8px 15px;
  color: #5e5e5e;
  display: flex;
  justify-content: center;
  margin: 5px;
  border: none;
}


/** 側邊欄 **/
.sidebar{
  height: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: #f6f6f6;
  border-right: 1px solid #e8e8e8;
  will-change: auto;
  overflow: hidden;
}
.appLogo{
  display: flex;
  align-items: center;
}
.beta-text{
  font-family: Inter, system-ui;
  font-weight: 500;
  display: block;
  background-color: rgba(255, 255, 255, 0.83);
  border: 1px solid #cfcfcf;
  padding: 5px 10px 5px 10px;
  border-radius: 100px;
  font-size: 14px;
  color: #7a7a7a;
}
.applogo-img{
  margin: 15px;
  height: 40px;
  width: 40px;
}
.sidebar-show{
  display: block;
  position: relative;
}

/** 側邊欄收合設定 **/
.menu-open{
  width: 250px;
  transition: all 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close{
  display: flex;
  flex-direction: column;
  width: 0px;
  transition: all 0.45s cubic-bezier(0.4, 0, 0.2, 1); /** 自定義動畫 **/
}

/** 側邊欄按鈕管理 **/
.sidebar-btnlist{
  padding: 0;
  list-style: none;
  margin: 0;
  width: 250px;
}

/** 側邊欄按鈕 **/
.sidechangebtn{
  background-color: #f6f6f6;
  border-radius: 100px;
  border: none;
  padding: 10px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  transition: background-color 0.2s ease-in-out;
  color: #000;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
.sidechangebtn svg{
    color: #7e7e7e;
}
.sidechangebtn:hover{
  background-color: #ecebeb;
}

/** 選單按鈕 **/
.sidebar-btn{
  text-decoration: none;
  display: flex;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  padding: 10px;
  margin: 5px 15px;
  border-radius: 15px;
  color: #979797;
  fill: #979797;
  background-color: transparent;
  border: none;
}
.sidebar-btn:hover{
  background-color: #ececec;
}
.libtn-text{
  margin: 5px;
  font-family: Inter, system-ui;
  font-size: 16px;
  font-weight: 500;
}
.sidebar-btn.libtn-active{
  background-color: white;
  color: #1c1c1c;
  fill: #1c1c1c;
}
.sidebtn{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

/** 側邊欄最下面的容器 **/
.sidebar-bottom-box{
  margin-top: auto;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ftbox_line{
  display: block;
  height: 1px;
  width: 100%;
  background-color: #b9b9b9;
  margin-left: 10px;
  margin-bottom: 10px;
}
.ft_btn{
  background-color: transparent;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
  border: 0px;
  font-size: 15px;
  color: #7c7c7cbe;
}

/** Footer **/
@media (min-width:100px) {
  footer{
    margin-bottom: 80px;
  }
}
@media (min-width:500px) {
  footer{
    margin-bottom: 0px;
  }
}

footer{
  margin: 0;
  display: flex;
  padding: 15px;
  background-color: #efefef63;
}
footer p{
  margin: 0px;
  font-size: 12px;
  color: #7c7c7c;
  font-family: Inter, system-ui;
}
footer a{
  text-decoration: none;
}
.footer-linkbox{
  display: flex;
}
.footer-linkbox a{
  font-size: 12px;
  padding-right: 10px;
  color: #7c7c7c;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.footer-linkbox a:hover{
  text-decoration: underline;
}
.footer-linkbox a:not(:last-child):after{
  content: '';
  display: block;
  width: 1px;
  height: 70%;
  background-color: #7c7c7c;
  margin-left: 10px;
}
.footer-linkbox.theme-dark a:not(:last-child):after{
  background-color: #b0b0b0;
}
@media (min-width:100px) {
  footer{
    flex-direction: column;
    margin-bottom: 80px;
  }
  .footer-linkbox{
    margin-top: 10px;
  }
}
@media (min-width:500px) {
  footer{
    margin-bottom: 0;
  }
}
@media (min-width:700px) {
  footer{
    flex-direction: row;
  }
  .footer-linkbox{
    margin-top: 0px;
    margin-left: auto;
  }
}